@media (min-width: 1921px) {
    #topo {
        background-image: url(../image/pexels-craytive-1478442\ \(1\).jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    section#promocao span.asterisco {
        top: 8.7%;
        left: 78.5%;
    }

    section#promocao button#zoom-up {
        top: 10%;
        left: 92%;
    }

    section#promocao button#zoom-down {
        top: 10%;
        left: 95%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    section#promocao .abaixo {
        margin-bottom: 50px;
    }

    #produto1,
    #produto2,
    #produto3,
    #produto4 {
        width: 14vw;

        & video {
            width: 14vw;
        }
    }

    #destaque1,
    #destaque2,
    #destaque3,
    #destaque4 {
        width: 14vw;

        & video {
        width: 14vw;
        }
    }

    #novidades {
        grid-template-columns: 58% 42%;
    }

    #novidades .titulo-atualizacoes {
      margin-top: 10px;
    }

    #novidades #div-botao {
      width: 99.8%;
      bottom: 60.5%;
    }

    .depoimentos .avaliacoes {
        justify-content: center;
    }

    .depoimentos .avaliacoes .depoimento {
        width: 30%;
    }

    .depoimentos .avaliacoes .depoimento img {
        width: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1440px) {
  section#promocao span.esquerda {
    font-size: 3rem;
  }

  section#promocao span.direita {
    font-size: 3rem;
  }

  section#promocao h2.titulo-oferta {
    font-size: 1.5rem;
  }

  section#promocao .descricao-oferta {
    font-size: 1rem;
  }

  section#promocao span.asterisco {
    top: 6%;
    left: 66%;
  }

  section#promocao #zoom-up {
    top: 7.5%;
    left: 89.5%;
  }

  section#promocao #zoom-down {
    top: 7.5%;
    left: 93.5%;
  }

  section#promocao video.video {
    width: 60%;
    height: 48%;
  }

  section#promocao .cores {
    justify-content: space-between;
    height: 83px;
  }

  section#promocao #cor-preta, section#promocao #cor-branca {
    position: relative;
    width: 20%;
    height: 70%;
  }

  section#promocao #branco {
    width: 10px;
    left: 76%;
  }

  section#promocao #preto {
    width: 10px;
  }

  section#lancamentos .produto-lancamento {
    gap: 5px;
  }

  section#lancamentos .produto-lancamento .nome-lancamento {
    text-align: left;
  }

  section#lancamentos .segunda-opcao {
    text-align: center;
  }

  section#destaques .produto-destaque {
    gap: 5px;
  }

  section#destaques .segunda-opcao {
    text-align: center;
  }

  section#pagamentos {
    padding: 25px;
  }

  section#pagamentos .titulo-pagamento {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  section#pagamentos .metodos {
    padding: 0px 100px;
  }

  #novidades {
    grid-template-columns: 62.5% 37.5%;
    width: 100%;
    justify-content: center;
  }

  #novidades #div-botao {
    bottom: 54.4%;
  }

  #novidades .titulo-atualizacoes {
    margin-top: 50px;
    font-size: 2rem;
  }

  #novidades .texto-comunidade {
    text-align: justify;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  section#promocao {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  section#promocao .oferta {
    width: 80%;
    margin-bottom: 10px;
  }

  section#promocao span.esquerda, section#promocao span.direita {
    font-size: 3rem;
  }

  section#promocao .titulo-oferta {
    font-size: 2rem;
  }

  section#promocao span.asterisco {
    top: 6%;
    left: 67%;
  }

  section#promocao #zoom-up {
    top: 8%;
    left: 90%;
  }

  section#promocao #zoom-down {
    top: 8%;
    left: 94%;
  }

  section#promocao .cores {
    height: 60px;
  }

  section#promocao #cor-branca {
    position: relative;
    width: 50px;
    height: 50px;
  }

  section#promocao #cor-preta {
    position: relative;
    width: 50px;
    height: 50px;
  }

  section#promocao #branco {
    left: 72%;
    bottom: 0;
  }

  section#promocao #preto {
    bottom: 0;
  }

  section#promocao .adicional {
    width: 80%;
    height: 400px;
  }

  #novidades {
    grid-template-columns: 66% 34%;
  }

  #novidades .titulo-atualizacoes {
    margin-top: 90px;
  }

  #novidades #div-botao {
    bottom: 45.8%;
  }
}

@media (max-width: 950px) {
  #navbar {
    display: none;
  }

  #promocao {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #lancamentos {
    margin-top: 0;
    margin-bottom: 60px;
  }

  #destaques {
    margin-top: 0;
    margin-bottom: 60px;
  }

  #pagamentos {
    margin-top: 0;
    margin-bottom: 60px;
  }

  #depoimentos {
    margin-top: 0;
    margin-bottom: 60px;
  }

  #comunidade {
    margin-top: 60px;
  }
}

@media (max-width: 900px) {
  #topo .navegacao ul {
    gap: 50px;
  }
}

@media (max-width: 768px) {

  body strong {
    display: none;
  }

  #topo {
    height: 40vh;
  }

  #topo div #logo #logomarca {
    width: 150px;
  }

  #topo div #logo h1.logotipo {
    top: 30.5%;
    left: 43.5%;
    font-size: 12px;
  }

  #topo .compra {
    font-size: 1rem;
    padding: 10px;
  }

  #promocao {
    width: 90vw;
  }

  section#promocao .oferta {
    width: 90%;
  }

  section#promocao span.esquerda, #promocao span.direita {
    font-size: 3rem;
  }

  section#promocao h2.titulo-oferta {
    font-size: 1.5rem;
  }

  #promocao .asterisco {
    display: none;
  }

  #promocao #zoom-up, #promocao #zoom-down {
    display: none;
  }

  #lancamentos {
    padding: 25px;
    width: 90vw;
  }

  section#lancamentos h2.titulo-lancamento {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  section#lancamentos div.container {
    margin-bottom: 25px;
  }

  section#lancamentos .container .produto-lancamento {
    width: 20vw;
    font-size: 14px;
  }

  section#lancamentos div#container div.produto-lancamento video {
    width: 20vw;
  }

  section#lancamentos .loja {
    font-size: 1rem;
    width: 25%;
  }

  section#destaques {
    padding: 25px;
    width: 90vw;
  }

  section#destaques h2.titulo-destaque {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  section#destaques div.container {
    margin-bottom: 25px;
  }

  section#destaques div.container div.produto-destaque {
    width: 20vw;
    font-size: 14px;
  }

  section#destaques div.container div.produto-destaque video {
    width: 20vw;
  }

  section#destaques .loja {
    font-size: 1rem;
    width: 25%;
  }

  section#pagamentos .metodos {
    padding: 0;
  }

  section#pagamentos .metodos #cartoes, section#pagamentos .metodos #intermediario, section#pagamentos .metodos #meios {
    width: 30%;
  }

  section#pagamentos .metodos #meios .metodos-adicionais {
    grid-template-columns: 0fr 0fr;
    column-gap: 5px;
    align-self: center;
  }

  section#depoimentos {
    width: 90vw;
  }

  section#depoimentos h2.titulo-depoimentos {
    font-size: 2.5rem;
  }

  section#depoimentos div.avaliacoes .depoimento {
    width: 25vw;
  }

  section#comunidade #novidades {
    grid-template-columns: 100%;
    margin-bottom: 30px;
    row-gap: 20px;
  }

  section#comunidade #novidades .titulo-atualizacoes {
    grid-column: 1;
    margin-top: 0px;
    font-size: 2.5rem;
  }

  section#comunidade #novidades .texto-comunidade {
    grid-column: 1;
  }

  section#comunidade #novidades input[type="email"] {
    grid-column: 1;
    margin-bottom: 0;
  }

  #novidades #div-botao {
    bottom: 28%;
  }
}

@media (max-width: 425px) {

  section#topo div {
    display: block;
  }

  section#topo div #logo #logomarca {
    width: 100px;
  }

  section#topo div #logo h1.logotipo {
    font-size: 9px;
    top: 27%;
    left: 12%;
  }

  section#topo div nav#navigate {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.849);
    padding: 0px 0px;
    top: 0;
    right: 0;
    margin-top: 0;
    align-items: center;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }

  section#topo div nav.nav-hidden {
    width: 0;
    height: 0;
    transition: all 0.6s ease-in-out;
  }

  section#topo div nav#navigate ul {
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 40px;
  }

  section#topo img#menu {
    z-index: 1000;
    position: absolute;
    scale: 0.5;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }

  section#topo img#fechar {
    scale: 0;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
  }

  section#topo .compra {
    top: 83%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.233);
  }

  section#promocao div.oferta span.esquerda, section#promocao div.oferta span.direita {
    font-size: 1.5rem;
  }

  section#promocao div.oferta span.esquerda {
    top: 2.5%;
  }

  section#promocao div.oferta span.direita {
    top: 2.5%;
    right: 2.5%;
  }

  section#promocao div.oferta h2.titulo-oferta {
    font-size: 1.5rem;
  }

  section#promocao div.oferta p.tamanho input[type="number"] {
    width: 10%;
  }

  section#lancamentos h2.titulo-lancamento {
    font-size: 1.5rem;
  }

  section#lancamentos div#container {
    flex-wrap: wrap;
  }

  section#lancamentos div#container div#produto1, section#lancamentos div#container div#produto2 {
    width: 45%;
    padding: 0px 5px 5px 5px;
    margin-bottom: 20px;
  }

  section#lancamentos div#container div#produto3, section#lancamentos div#container div#produto4 {
    width: 45%;
    padding: 0px 5px 5px 5px;
  }

  section#lancamentos div#container div#produto1 video, section#lancamentos div#container div#produto2 video {
    width: 35.20vw;
  }

  section#lancamentos div#container div#produto3 video, section#lancamentos div#container div#produto4 video {
    width: 35.20vw;
  }

  section#lancamentos .loja {
    width: 60%;
  }

  section#destaques h2.titulo-destaque {
    font-size: 1.5rem;
  }

  section#destaques div.container {
    flex-wrap: wrap;
  }

  section#destaques div.container div#destaque1, section#destaques div.container div#destaque2 {
    width: 45%;
    padding: 0px 5px 5px 5px;
    margin-bottom: 20px;
  }

  section#destaques div.container div#destaque3, section#destaques div.container div#destaque4 {
    width: 45%;
    padding: 0px 5px 5px 5px;
  }

  section#destaques div.container div#destaque1 video, section#destaques div.container div#destaque2 video {
    width: 35.20vw;
  }

  section#destaques div.container div#destaque3 video, section#destaques div.container div#destaque4 video {
    width: 35.20vw;
  }

  section#destaques .loja {
    width: 60%;
  }

  section#pagamentos h2.titulo-pagamento {
    font-size: 1.5rem;
  }

  section#pagamentos div.metodos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  section#pagamentos .metodos #cartoes .titulo-cartoes {
    margin-bottom: 5px;
  }

  section#pagamentos .metodos #cartoes .icones-cartoes {
    display: flex;
    flex-wrap: wrap;
  }

  section#pagamentos .metodos #cartoes .icones-cartoes img {
    width: 15%;
  }

  section#pagamentos .metodos #intermediario .meios-online {
    display: flex;
    flex-wrap: wrap;
  }

  section#pagamentos .metodos #intermediario .meios-online img {
    width: 15%;
  }

  section#pagamentos .metodos #intermediario .meios-online .branco img, section#pagamentos .metodos #intermediario .meios-online .branco-2 {
    width: 25%;
  }

  section#pagamentos .metodos #intermediario .meios-online .branco img, section#pagamentos .metodos #intermediario .meios-online .branco-2 img {
    width: 100%;
  }

  section#pagamentos .metodos #meios .metodos-adicionais {
    display: flex;
  }

  section#pagamentos .metodos #cartoes, section#pagamentos .metodos #intermediario, section#pagamentos .metodos #meios {
    width: 80%;
  }

  section#pagamentos div.metodos hr {
    width: 80%;
  }

  section#depoimentos h2.titulo-depoimentos {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  section#depoimentos div.avaliacoes {
    flex-wrap: wrap;
  }

  section#depoimentos div.avaliacoes .depoimento {
    width: 47%;
    margin-bottom: 10px;
  }

  section#depoimentos div.avaliacoes #depoimento-mulher {
    display: block;
    margin: auto;
    width: 60%;
  }

  section#comunidade div#novidades h2.titulo-atualizacoes {
    font-size: 1.5rem;
  }

  section#comunidade div#novidades #div-botao {
    bottom: 22.5%;
  }

  section#comunidade footer.rodape h6.direitos {
    width: 150px;
  }
}