@media (min-width: 1921px) {
    #topo {
        background-image: url(../image/pexels-craytive-1478442\ \(1\).jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    section#promocao span.asterisco {
        top: 8.7%;
        left: 78.5%;
    }

    section#promocao button#zoom-up {
        top: 10%;
        left: 92%;
    }

    section#promocao button#zoom-down {
        top: 10%;
        left: 95%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    #produto1, #produto2, #produto3, #produto4 {
        width: 14vw;

        & video {
            width: 14vw;
        }
    }

    #destaque1, #destaque2, #destaque3, #destaque4 {
        width: 14vw;

        & video {
            width: 14vw;
        }
    }

    #novidades {
        grid-template-columns: 1000px 700px;
    }

    #novidades > button.enviar {
        left: 91.8%;
    }

    .depoimentos .avaliacoes {
        justify-content: center;
    }

    .depoimentos .avaliacoes .depoimento {
        width: 30%;
    }

    .depoimentos .avaliacoes .depoimento img {
        width: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1440px) {
  body {
    width: 100%;
  }
}
