@media (min-width: 1921px) {
    #topo {
        background-image: url(../image/pexels-craytive-1478442\ \(1\).jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    section#promocao span.asterisco {
        top: 8.7%;
        left: 78.5%;
    }

    section#promocao button#zoom-up {
        top: 10%;
        left: 92%;
    }

    section#promocao button#zoom-down {
        top: 10%;
        left: 95%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    section#promocao .abaixo {
        margin-bottom: 50px;
    }

    #produto1,
    #produto2,
    #produto3,
    #produto4 {
        width: 14vw;

        & video {
            width: 14vw;
        }
    }

    #destaque1,
    #destaque2,
    #destaque3,
    #destaque4 {
        width: 14vw;

        & video {
        width: 14vw;
        }
    }

    #novidades {
        grid-template-columns: 1000px 700px;
    }

    #novidades > button.enviar {
        top: 9.2vh;
        left: 91.8%;
    }

    .depoimentos .avaliacoes {
        justify-content: center;
    }

    .depoimentos .avaliacoes .depoimento {
        width: 30%;
    }

    .depoimentos .avaliacoes .depoimento img {
        width: auto;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1440px) {
  section#promocao span.esquerda {
    font-size: 3rem;
  }

  section#promocao span.direita {
    font-size: 3rem;
  }

  section#promocao h2.titulo-oferta {
    font-size: 1.5rem;
  }

  section#promocao .descricao-oferta {
    font-size: 1rem;
  }

  section#promocao span.asterisco {
    top: 6%;
    left: 66%;
  }

  section#promocao #zoom-up {
    top: 7.5%;
    left: 89.5%;
  }

  section#promocao #zoom-down {
    top: 7.5%;
    left: 93.5%;
  }

  section#promocao video.video {
    width: 60%;
    height: 48%;
  }

  section#promocao .cores {
    justify-content: space-between;
    height: 83px;
  }

  section#promocao #cor-preta, section#promocao #cor-branca {
    position: relative;
    width: 20%;
    height: 70%;
  }

  section#promocao #branco {
    width: 10px;
    left: 76%;
  }

  section#promocao #preto {
    width: 10px;
  }

  section#lancamentos .produto-lancamento {
    gap: 5px;
  }

  section#lancamentos .produto-lancamento .nome-lancamento {
    text-align: left;
  }

  section#lancamentos .segunda-opcao {
    text-align: center;
  }

  section#destaques .produto-destaque {
    gap: 5px;
  }

  section#destaques .segunda-opcao {
    text-align: center;
  }

  section#pagamentos {
    padding: 25px;
  }

  section#pagamentos .titulo-pagamento {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  section#pagamentos .metodos {
    padding: 0px 100px;
  }

  #novidades {
    grid-template-columns: 500px 300px;
    width: 80%;
    justify-content: center;
  }

  #novidades .titulo-atualizacoes {
    margin-top: 50px;
    font-size: 2.5rem;
  }

  #novidades .enviar {
    top: 56.3%;
    left: 82.5%;
  }
}

@media (max-width: 1024px) {
  section#promocao {
    flex-direction: column;
    align-items: center;
  }

  section#promocao .oferta {
    width: 80%;
    margin-bottom: 10px;
  }

  section#promocao span.esquerda, section#promocao span.direita {
    font-size: 3rem;
  }

  section#promocao .titulo-oferta {
    font-size: 2rem;
  }

  section#promocao span.asterisco {
    top: 6%;
    left: 67%;
  }

  section#promocao #zoom-up {
    top: 8%;
    left: 90%;
  }

  section#promocao #zoom-down {
    top: 8%;
    left: 94%;
  }

  section#promocao .cores {
    height: 60px;
  }

  section#promocao #cor-branca {
    position: relative;
    width: 50px;
    height: 50px;
  }

  section#promocao #cor-preta {
    position: relative;
    width: 50px;
    height: 50px;
  }

  section#promocao #branco {
    left: 72%;
    bottom: 0;
  }

  section#promocao #preto {
    bottom: 0;
  }

  section#promocao .adicional {
    width: 80%;
    height: 400px;
  }
}

@media (max-width: 965px) {
  #novidades .enviar {
    left: 100%;
  }
}
