@font-face {
    font-family: 'Women and Shoes';
    src: url(../fonts/WomenAndShoes.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #C6C1CB;

    & .home {
        position: relative;
        height: 30vw;
        background-size: 1920px 576px;
        background-image: url(../image/pexels-craytive-1478442.jpg);
        color: white;
        z-index: -1;
        overflow: hidden;
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
            color: transparent;
            z-index: -1;
        }
    
        & div {
            display: flex;
            justify-content: space-between;
    
            & .logotipo {
                color: white;
                margin-top: 30px;
                margin-left: 30px;
                z-index: 1;
            }
    
            & .navegacao {
                margin-top: 30px;
                margin-right: 30px;
                z-index: 1;
    
                & ul {
                    display: flex;
                    gap: 100px;
                    list-style: none;
    
                    & li {
    
                        & a {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    
        & .compra {
            position: absolute;
            text-decoration: none;
            color: white;
            z-index: 1;
            top: 85%;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid white;
            padding: 20px;
            border-radius: 50px;
    
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    & .oferta-do-dia {
        display: flex;
        position: relative;
        justify-content: space-between;
        max-height: 680.3px;
        width: 80%;
        background-color: white;
        margin: auto;
        padding: 20px 0px 20px 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.363);
        border-bottom: 1px solid rgba(0, 0, 0, 0.363);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);
        border-bottom-right-radius: 5px;

        &::before, &::after {
            content: '';
            position: absolute;
            background: white;
        }

        &::before {
            top: 0;
            left: 0;
            right: -10px;
            width: 100%;
            height: 1px;
        }

        &::after {
            top: 0;
            left: 0;
            bottom: -10px;
            width: 1px;
            height: 100%;
        }

        & .oferta {
            width: 57%;
            position: relative;
            border-right: 1px solid rgba(0, 0, 0, 0.363);
            border-bottom: 1px solid rgba(0, 0, 0, 0.363);
            border-bottom-right-radius: 5px;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.486);

            &::before, &::after {
                content: '';
                position: absolute;
                background: white;
            }

            &::before {
                top: 0;
                left: 0;
                right: 10px;
                width: 100%;
                height: 1px;
            }

            &::after {
                top: 0;
                left: 0;
                bottom: 10px;
                width: 1px;
                height: 100%;
            }

            & .esquerda {
                font-family: 'Women and Shoes';
                font-size: 5rem;
                position: absolute;
                top: -5px;
                left: 3%;
                color: black;
            }

            & .direita {
                font-family: 'Women and Shoes';
                font-size: 5rem;
                position: absolute;
                right: 2%;
                top: -5px;
            }

            & .titulo-oferta {
                font-family: 'Caladea', serif;
                font-size: 3rem;
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
            }

            & hr {
                height: 2px;
                width: 94%;
                background-color: black;
                border: none;
                margin: auto;
                margin-bottom: 10px;
            }

            & .descricao-oferta {
                font-family: 'Caladea', serif;
                font-size: 1.5rem;
                margin-bottom: 5px;
            }

            & .preco-oferta {
                font-family: 'Caladea', serif;
                margin-bottom: 5px;
            }

            & .tamanho {
                display: inline;
                font-family: 'Caladea', serif;
                margin-right: 10px;

                & input[type="number"] {
                    width: 5%;
                    font-size: 18px;
                    text-indent: 1px;
                }
            }

            & .comprar-agora {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                    color: darkblue;
                }
            }

            & .video {
                display: block;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            & .escolha-cor {
                margin-left: 10%;
                text-transform: uppercase;
                margin-bottom: 2px;
            }

            & .abaixo {
                margin: auto;
            }

            & .cores {
                display: flex;
                position: relative;
                justify-content: space-between;
                width: 50%;
                margin: auto;
                padding: 0px 30px 0px 30px;

                & img {
                    width: 30%;
                }

                & #branco {
                    position: absolute;
                    left: 27%;
                    bottom: 5%;
                    width: 20px;
                    height: 20px;
                }

                & #preto {
                    position: absolute;
                    right: 8%;
                    bottom: 5%;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        & .adicional {
            display: flex;
            width: 40%;
            justify-content: center;
            height: 88.2vh;
            max-height: 600px;

            & .over {
                height: 600px;
            }

            & .image-hidden {
                z-index: 0;
            }
        }
    }
}

